extends layout

block append content
    div.container
        div.blog-header
            h1.blog-title= pageTitle
        div.row
            div.col-sm-8.blog-main
                - each article in articles
                    div.blog-post
                        h2.blog-post-title
                            a(href='/blogs/#{article._id}')= article.title
                        p.body= article.body
                        p.blog-post-meta= 'Created at: '+ article.created_at

