extends layout

block append content
    div.container.centered
        div.blog-header
            h1.blog-title= pageTitle
        div
            - each article in articles
                div.blog-post.centered_margin
                    div
                        h2.blog-post-title
                            a(href='/blogs/#{article._id}')= article.title
                    div
                        p.body= article.body
                    div
                        p.blog-post-meta= 'Created at: '+ article.created_at


