extends layout
block append content
    div.container.centered
        div.blog-header
            h1.blog-title View Post
        div.row
            div.blog-post.centered_margin
                h2.blog-post-title
                    a(href='/blogs/#{blog._id}')= blog.title
                p.body= blog.body
                p.blog-post-meta= 'Created at: '+ blog.created_at
                if logged == true
                    button(onclick='window.location.href="/blogs/#{blog._id}/edit"') Edit Post

