extends layout
block content
	h1 View/Modify Post
	form(id='update' action='/blogs/#{blog._id}' method='post')
		input(type='hidden', name='_method', value='put')
		div
			div
				span Title :
				input(type="text" id="title" name="title" value='#{blog.title}')
			div
				span Body :
				textarea( name="body" id="body" rows=20 value='#{blog.body}')= blog.body
			div
				input(type="submit" value="Update Blog Post")
	form(id='delete' action='/blogs/#{blog._id}' method='post')
		input(type='hidden' name='_method' value='delete')
		input(type='submit' value='Delete Blog Post')
	#result